@charset "UTF-8";
* {
  position: relative;
  font-family: "Hind Vadodara", sans-serif, 微軟正黑體;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
}

label {
  cursor: pointer;
}

.daybox {
  width: 50%;
  max-width: 400px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.daybox:hover .bottom {
  height: 100px;
}
.daybox:hover .dayweather {
  opacity: 100;
  top: 0px;
}

.rain {
  width: 2px;
  height: 10px;
  position: absolute;
  left: 45px;
  bottom: 15px;
  animation: raindrop 1s infinite linear;
  background-color: #f3f3f3;
}
@keyframes raindrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
    opacity: 0%;
  }
}

.rain2 {
  left: 70px;
  bottom: 20px;
  animation-delay: -0.7s;
}

.rain3 {
  left: 20px;
  bottom: 15px;
  animation-delay: -0.5s;
}

.top {
  height: 330px;
  background: linear-gradient(20deg, #7ed1f9, #8794ff);
  background-size: 100% 200%;
  animation: daylight 3s both;
  border-radius: 0px 0px 0px 0px;
}
@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.top .temsvg {
  width: 100%;
}
.top .temsvg polyline {
  stroke: #f3f3f3;
  stroke-width: 1px;
  fill: none;
  opacity: 0.2;
}
.top .temsvg text {
  fill: #f3f3f3;
  opacity: 0;
  transform: translateX(0px) translateY(18px);
  font-size: 11px;
}
.top .temsvg circle {
  fill: #f3f3f3;
  opacity: 0.2;
}
.top .moon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 15px -15px;
  position: absolute;
  left: 50px;
  top: 110px;
  animation: moonmove 5s infinite;
}
@keyframes moonmove {
  0% {
    box-shadow: 15px -15px #FFD633;
    transform: translateX(-15px) translateY(15px);
  }
  100% {
    box-shadow: -30px 30px #FFD633;
    transform: translateX(30px) translateY(-30px);
  }
}

.cloud {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 20px;
  animation: clouddrift 2s infinite;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.cloud:before, .cloud:after {
  content: " ";
  background-color: #f3f3f3;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
}
.cloud:before {
  left: 16px;
  top: -28px;
}
.cloud:after {
  left: 35px;
  top: -20px;
}

@keyframes clouddrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bottom {
  height: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
  transition-duration: 1s;
}
.bottom .dayweather {
  width: calc(100% / 7 - 5px);
  display: inline-block;
  text-align: center;
  opacity: 0;
  top: 20px;
  transition: 0.5s;
}
.bottom .dayweather h3 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.bottom .dayweather svg {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.bottom .dayweather svg .sun {
  fill: #FFD633;
  stroke: rgba(255, 214, 51, 0.6);
  stroke-width: 20px;
  stroke-dasharray: 5px;
}
.bottom .dayweather svg .rain {
  stroke: #ccc;
  stroke-width: 5px;
}
.bottom .dayweather svg .cloud {
  fill: #ccc;
}

.dayweather:nth-child(1) {
  transition-delay: 0.1s;
}

.dayweather:nth-child(2) {
  transition-delay: 0.2s;
}

.dayweather:nth-child(3) {
  transition-delay: 0.3s;
}

.dayweather:nth-child(4) {
  transition-delay: 0.4s;
}

.dayweather:nth-child(5) {
  transition-delay: 0.5s;
}

.dayweather:nth-child(6) {
  transition-delay: 0.6s;
}

.dayweather:nth-child(7) {
  transition-delay: 0.7s;
}

.text_area {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: #f2f9fe;
}
.text_area .temperature {
  font-size: 72px;
  line-height: 60px;
}
.text_area .infos {
  padding: 10px 0px 0px 0px;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 800;
}

.moon, .cloud {
  transition-duration: 1s;
}

.temsvg circle, .temsvg polyline, .temsvg text {
  transition-duration: 1s;
}
.temsvg text {
  transition: 0.5s 0.5s;
}

#switch_night {
  display: none;
}

#switch_night:checked + .top .moon, #switch_night:checked + .top .cloud {
  opacity: 0.3;
}
#switch_night:checked + .top .temsvg circle, #switch_night:checked + .top .temsvg polyline, #switch_night:checked + .top .temsvg text {
  opacity: 1;
}

@media only screen and (max-width: 414px) {
    .text_area .temperature {
        font-size: 48px;
        line-height: 40px;
   }
    
    .bottom .dayweather h3 {
        font-size: 8px;
    }
    
    .cloud {
      width: 100px;
      height: 36px;
      position: absolute;
      left: 110px;
      bottom: 130px;
      border-radius: 20px;
      animation: clouddrift 2s infinite;
      background-color: #f3f3f3;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    
}