@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.main-content {
  padding-top: 0px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.card-body {
  margin-top: 56px;
}

.card-title {
  color: #000;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4e070b;
  color: white;
  text-align: center;
  padding: 8px 0;
}

.container-fluid{

  padding-right: 0;
  padding-left: 0;

}

.navbar-brand {
  margin-left: 16px;

}
form#loginForm {
  margin-top: -32px;
}
h3, h4 {
  text-align: center;

}

h1, h5 {
  margin-top: 8px;
  text-align: center;

}

h5 {
 font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 8px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}

@media only screen and (max-width: 767px) {

  iframe {
    width: 100%;
    height: 400px;
    margin: 0 20px;
  }

}


@media (max-height: 600px) {
  .main-content {
    padding-top: 80px;
  }

  footer {
    position: relative;
  }
}



@media only screen and (max-width: 490px) {
  p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  iframe {
    width: 320px;
    height: 400px;
    margin: 0 20px;
  }

}