@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 微軟正黑體;
}

html, body {
/*  max-width: 1024px;*/
  margin-left: auto;
  margin-right: auto;

}

.container-fluid{
  padding-right: 0;
  padding-left: 0;

}

.navbar-brand {
  margin-left: 16px;

}

h1, h5 {
  margin-top: 16px;
  text-align: center;

}

h5 {
 font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 8px;
  text-align: center;
}


.iframe-container {
  width: 80%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}


@media only screen and (max-width: 490px) {
  p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

}

@media only screen and (max-width: 414px) {
    .navbar-brand {
        font-size: 14px;
    }
}