* {
  font-weight: 100;
  letter-spacing: 2px;
  color: #555;
  font-family: 微軟正黑體;
}

html,body{
  width: 100%; 
  height:100%;
  padding: 0%; margin: 0%;
  background-color: #d1d1d1;
  font-family: 微軟正黑體;
}

.box{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  min-height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: solid 30px #5bb9d5;
  border-bottom: solid 30px #5bb9d5;
  box-sizing: border-box;
}



.text{
  position: absolute; 
  bottom: 20px;
  background-color: rgba(0,0,0,0);
}

h3 {
  margin-top: 40px;
  color: #333;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.name {
  font-weight: 900;
  font-size: 28px;
}

.job {
  margin-top: 0px;
  margin-bottom: 20px;
}
.job:before {
  content: "";
}

.little_eng {
  margin-left: 10px;
  font-size: 11px;
  font-weight: 300;
}

.namecard {
  background-color: #fff;
  width: 200px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  box-shadow: 10px 5px 50px rgba(255, 255, 255, 0.4), 5px 5px 30px rgba(50, 50, 50, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 22px;
  margin-top: 120px;
  border-radius: 8px;
  transition-duration: 0.5s;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 50%;
}
.namecard:hover {
  transform: translateY(-5px) translateX(-5px);
  box-shadow: 10px 10px 30px rgba(50, 50, 50, 0.3);
}
.namecard:hover .circle1 {
  transform-origin: 50% 50%;
  transform: scale(1.2);
}
.namecard:hover .circle2 {
  transform-origin: 50% 50%;
  transform: scale(1.3);
}
.namecard h4 {
  color: #5bb9d5;
  font-weight: 700;
}
.namecard p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  background-color: #5bb9d5;
  border-radius: 100%;
  transition-duration: 1s;
}

.circle2 {
  width: 60px;
  height: 60px;
  left: initial;
  right: -35px;
  top: -35px;
  background-color: initial;
  border: solid 3px #5bb9d5;
  transform-delay: 0.4s;
}

.namecardtext {
  position: absolute;
  left: -5px;
  bottom: 100px;
  color: rgba(0, 0, 0, 0.03);
  font-size: 300px;
}

a, hr {
  text-decoration: none;
  display: block;
  border-style: none;
  border-top-style: solid;
}