@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.col-3 {
  max-height: 100%;
  overflow-y: auto;
}

.chat-content {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.chat-input {
  width: 75%;
  z-index: 10;
}

.col-9 {
  margin-bottom: 20px;
}

span.username {
  font-size: 16px;
  font-weight: 200;
}

.usertop {
  display: inline-block;
  margin-right: 20px;
  margin-top: 8px;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-top: 20px;
}

.addchat {
  text-align: end;
  cursor: pointer;
  text-decoration: none;
}
.addchat:hover {
  text-decoration: underline;
}

textarea.form-control {
  resize: vertical;
  min-height: 40px;
  max-height: 200px;
}

p.date {
  font-size: 12px;
  color: #808080;
  margin-top: 12px;
  margin-bottom: 0px;
}

.bg-primary.text-white.p-2.rounded, .bg-light.text-dark.p-2.rounded {
  max-width: 600px;
  word-wrap: break-word;
  padding: 8px;
}

.chat-placeholder {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #bbb;
  pointer-events: none;
}
.chat-placeholder img.ntnulogo {
  opacity: 0.12;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-top: 12%;
}

.hamburger-menu {
  display: none;
}

.btn.btn-danger.btn-sm.delete-conversation {
  font-size: 12px;
  font-weight: 400;
  padding:2px 4px;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: -10px;
}

.btn.btn-danger.btn-sm.delete-conversation:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn.btn-primary.btn-sm.edit-conversation {
  font-size: 12px;
  font-weight: 400;
  padding:2px 4px;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
  white-space: nowrap;
}

.btn.btn-primary.btn-sm.edit-conversation:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.list-group-item.d-flex.buttongroup {
  margin-left: auto;
}

.list-group-item {
  padding: 8px 16px;
}

.input-group-text {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  padding: 0.375rem 0.75rem;
}

.input-group-text i {
  color: #555;
}


@media only screen and (max-width: 992px) {

  .btn.btn-primary.btn-sm.edit-conversation, .btn.btn-danger.btn-sm.delete-conversation {
    white-space:normal;
  }

  .list-group-item {
    min-width: 160px;
  }

}

@media only screen and (max-width: 767px) {
  .btn.btn-primary.btn-sm.edit-conversation, .btn.btn-danger.btn-sm.delete-conversation {
    white-space:nowrap;
  }
  .col-3 {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    transition: left 0.4s ease;
    z-index: 999;
  }
  .col-3.show {
    left: 0;
    width: 400px;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    background-color: #eee;
    border: solid 1px #ddd;
    padding: 4px 10px;
    border-radius: 4px;
  }

  .d-flex.align-items-center.mb-3 {
    margin-top: 32px;
  }

  .usertop img.me-2, .usertop span.username, .usertop span.hello {
    display: none;
  }
}